
@page "/intro-page"
<h1>Welcome to Itahari International College</h1>

<img src="/iic.jpg" alt="Itahari International college image"/>

<p>
    Itahari International College is an information technology and business college in Sundar Haraicha, Nepal, established in 2017. The college directly partners with London Metropolitan University of United Kingdom offering the honorary undergraduate degrees in BA in Business Administration and B.Sc. in Computing.
</p>

@code {

}
